.navbar
    &-flex
        display: flex
        height: 7rem
    &-logo
        display: flex
        flex-direction: column
        color: $black
        text-align: center
        span
            font-size: 12px
            margin-top: 10px
            text-transform: uppercase
    &-contacts
        display: flex
        flex-direction: column
        a
            font-size: 12px
            text-align: right
    &-menu
        display: flex


ul.menu
    text-transform: uppercase
    .nav-item
        .nav-link
            font-size: 14px
            line-height: 14px
            color: #2E2E2E
            &:hover
                color: #3482DE
.main-slider
    display: flex
    align-content: center
    align-items: center
    justify-content: center
    padding-top: 50px
    margin-bottom: 200px
    .slider
        &__left_block
            width: 50%
            h1
                font-size: 30px
                margin-bottom: 30px

        &__right_block
            width: 50%
            text-align: center
.btn
    border-radius: 0
    &-primary
        background-color: #7F7F7F
        width: 310px
        padding: 15px 0 15px 0
        &:hover
            background-color: #9DD400

section.services
    display: grid
    grid-template-columns: 30% 70%
    grid-auto-rows: auto
    margin-bottom: 200px
    .service
        &-title
            h2
                font-size: 40px
                font-weight: bold
            span
                font-size: 25px
            p
                color: #8594AB
                font-size: 18px
                font-weight: lighter
                width: 70%
                padding: 10px
        &-list
            display: grid
            grid-template-columns: 50% 50%
            grid-gap: 10%
            grid-template-rows: auto
            position: relative
            height: 700px
            &__bg_left
                position: absolute
                left: -60px
                top: -60px
                z-index: 0
            &__bg_bottom
                position: absolute
                right: 0
                bottom: -150px
                z-index: 0
            .service-item
                z-index: 1
                background: #FFFFFF
                padding: 40px
                box-shadow: 0 7px 40px rgba(0, 0, 0, 0.1)
                &:hover
                    background: linear-gradient(90deg, rgba(157,212,0,1) 0%, rgba(157,212,0,1) 35%, rgba(157,212,0,1) 100%)
                    text-decoration: none
                    color: white
                    .service_icon
                        fill: white
                    p, h4
                        color: white
                .service-icon-header
                    margin-bottom: 20px
                p
                    color: #8594AB
                h4
                    color: #2E2E2E
                .service_icon
                    fill: #9DD400
.about
    margin-bottom: 150px
    &__content
        display: flex
    &__text
        font-size: 16px
        color: #2E2E2E
        padding: 20px
        width: 40%
    &__visual
        width: 60%
        text-align: center

.projects
    &__list
        display: grid
        grid-template-columns: 50% 50%
        grid-gap: 10%
        grid-template-rows: auto


@include media-breakpoint-only(xl)
    .container
        min-width: 1600px
