.navbar
    &-flex
        display: flex
        height: 8rem
    &-logo
        display: flex
        flex-direction: column
        color: $black
        text-align: center

        span
            font-size: 17px
            margin-top: 10px
            text-transform: uppercase
    &-contacts
        display: flex
        flex-direction: column
    &-menu
        display: flex
ul.menu
    .nav-item
        .nav-link
            font-size: 18px
            line-height: 18px
            color: #2E2E2E
.main-slider
    display: flex
    align-content: center
    justify-content: center
